@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 50px auto;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    /* background-color: red; */
    padding: 0 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

li {
    /* display: flex; */
    padding: 15px 30px;
    margin: 5px;
    background-color: #111;
    min-width: 270px;
}

li.completed {
    background-color: green;
}

li.pending {
    background-color: red;
    cursor: none;
}

li.pending a {
    cursor: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

@media(max-width:1200px) {
    ul {
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
}

@media(max-width:750px) {
    ul {
        grid-template-columns: auto auto;
        padding: 10px;
    }
}



@media(max-width:550px) {
    ul {
        grid-template-columns: auto;
        padding: 10px;
    }
}